<table>
  <% money = Spree::Currency.get('032') %>
  <%= f.hidden_field :currency_id, :value => money.id %>
  <%= f.hidden_field :date_req, :value => Time.now %>
  <%= f.hidden_field :nominal, :value => 0 %>
  <%= f.hidden_field :value, :value => 0 %>

  <tr>
    <td>Moneda: </td>
    <td><%= money.name %></td>
  </tr>
  <tr>
    <td>Tasa de conversión: </td>
    <td>
      <%= error_message_on :currency_converter, :direct_rate %>
      <%= f.text_field :direct_rate  %>
    </td>
  </tr>

</table>

